.main
  .main_container
    .main-menu
      .main-menu__post
        .main-menu__item
        - @posts.each do |post|
          .tr-Item
            %a.tr-Item_userImage{href:"/goemp"}
              %img{alt:"goemp", src:""}/
          .tr-Item_body
            %a.tr-Item_title{href:"/goemp/items/91dcc8b50d7a61ce98bc"}
            = post.title
            .tr-Item_meta
              %span
                by
              %a.tr-Item_author{href:"/goemp"}
              -# = post.user.name
              %time
              = post.created_at
              .tr-Item_likeCount
              %span.fa.fa-thumbs-up.mr-1of2