*{
  box-sizing: border-box;
}

.main{
  padding-top: 50px;
  background-color: #F5F5F5;
  height: 100%;
  min-height: calc(100vh - 200px);
  .pagination{
   padding-bottom: 20px;
   margin-left: 20px;
  }

  .main_container{
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    .main-menu{
      &__user{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        border-bottom: 1px solid #e8e8e8;
        height: 50px;
        font-family: arial;
      }
      &__item{
        &--show{
          padding: 16px;
          border-bottom: 1px solid #e8e8e8;
          display: flex;
          .tr-Item{
            display: flex;
            border-radius: .2em;
            width: 50px;
            height: 50px;
            flex-shrink: 0;
            margin-top: 2px;
            margin-right: 20px;
            .tr-Item_image{
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
          }
          .tr-Item_body{
            .tr-Item__title--link{
              display: inline-block;
              font-size: 1.6rem;
              font-weight: 550;
              margin-bottom: 4px;
              color: inherit;
              line-height: 1.4;
              word-wrap: break-word;
              word-break: break-all;
              text-decoration: none;
              font-family: arial;
              word-wrap: break-word;
            }
            .tr-Item__title--link:hover{
              text-decoration: underline;
              }
            .tr-Item_meta{
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              color: #999;
              font-size: .9em;
              .tr-Item_author{
                margin-left: 4px;
              }
              .content__right__bottom--userName--btn{
                margin-right: 5px;
                color: #999;
                text-decoration: none;
                font-family: arial;
              }
              .content__right__bottom--userName--btn:hover{
                text-decoration: underline;
                }
              .tr-Item_likeCount{
                margin: 0 8px;
              }
              .fa.fa-thumps-up.mr-lof2{
                margin-right: 4px;
              }
            }
          }
        }
        
        
      }
    }
  }
}