.editor{
  background-color: #f5f5f5;
  height: 100vh;
  position: relative;
  &__form{
    text-align: center;
    width: 1000px;
    height: 800px;
    background-color: white;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &__content{
    width: 900px;
  }
  .editorBody-text-submit{
    display: flex;
  }
  .form{
    &__title{
      width: 900px;
      height: 60px;
      margin-top: 20px;
      border: 1px solid #e0e0e0;
      font-size: 30px;
    }
    &__tag{
      width: 900px;
      height: 60px;
      border: 1px solid #e0e0e0;
      font-size: 20px;
    }
    &__text{
      width: 900px;
      height: 600px;
      overflow: scroll;
      border: 1px solid #e0e0e0;
      font-size: 20px;
    }
    .fa{
      margin-left: 450px;
      margin-right: -350px;
    }
   
    &__btn{
      background-color: #66CCFF;
      color: white;
      width: 100px;
      height:40px;
      margin: 0 auto;
      margin-top: 5px;
    }
  }
}
